body {
  font: 16px/22px DroidSansRegular, helvetica, sans-serif;
  color: #333;
  /* background: #fff url(../images/devices.gif) repeat-y; */
}

strong, h1, h2, h3 {
  font-weight: normal;
  font-family: DroidSansBold, helvetica, sans-serif;
}

em {
  font-style: normal;
  color: #000;
  background: #ffa;
}

a {
  color: #bc1d0d;
}

a:hover {
  color: #ff4c23;
}

a:active {
  color: #000;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

h1 {
  font-size: 2em;
  letter-spacing: -0.005em;
}

h1 a {
  padding-left: 22px;
  background: transparent url(../images/rainbow.gif) no-repeat 0 11px;
}

h1 a:hover {
  background-position: 0 -89px;
}

h1 span {
  text-transform: uppercase;
  font-size: 0.75em;
  margin-left: 0.25em;
  color: #808080;
}

h2 {
  font-size: 1.25em;
  margin: 2em 0 0.5em 0;
  color: #bc1d0d;
  letter-spacing: -0.005em;
}

h2.top {
  margin-top: 0;
}

h1 a {
  color: #000;
  text-decoration: none;
}

h1 a:hover {
  color: #bc1d0d;
  text-decoration: underline;
}

p {
  margin: 0 0 1em 0;
}

ul li {
  margin-left: 1em;
  list-style: square;
}

header {
  background: #dedede;
  padding: 3em 1.75em 0 1.75em;
  border-bottom: 2px solid #999;
}

header .holder {
  position: relative;
  width: 980px;
}

nav {
  display: block;
  margin: 1.5em 0 0 0;
  width: 100%;
}

nav a {
  float: left;
  margin-right: 0.5em;
  padding: 0.5em 0.75em;
  text-decoration: none;
  border: 2px solid #999;
  border-bottom: 0;
  margin-bottom: -2px;
}

nav a:hover {
  text-decoration: underline;
}

body.about nav a.about,
body.archive nav a.archive,
body.forum nav a.forum {
  background: #fff;
}

body.about #utilities,
body.archive #utilities {
  display: none;
}

form {
  margin: 2em 0;
}

input, textarea, select {
  display: block;
}

form input.text,
form textarea.text {
  font: 24px/30px DroidSansRegular, helvetica, sans-serif;
  width: 620px;
  padding: 7px;
  border: 1px solid #808080;
  margin: 3px 0 20px 0;
}

form .buttons input {
  font: 16px DroidSansRegular, helvetica, sans-serif;
}

#page {
  padding-bottom: 5em;
  margin: 1.75em;
}

#main {
  position: relative;
  width: 620px;
}

#sidebar {
  position: absolute;
  left: 660px;
  top: 0;
  width: 300px;
}

#sidebar h2 {
  color: #000;
  padding-bottom: 0.2em;
  margin-bottom: 0.6em;
  border-bottom: 2px dotted #808080;
}

article {
  display: block;
  margin: 1.5em 0;
}

article .content {
  font-size: 1.33em;
}

article .meta,
article .meta .date-time {
  color: #808080;
  font-size: 13px;
  text-decoration: none;
}

article .meta .date-time:hover,
article .meta .date-time:hover .date,
article .meta .date-time:hover .time {
  color: #bc1d0d;
  text-decoration: underline;
}

article .meta .author,
article .meta .author a,
article .meta .location,
article .meta .location a,
article .meta .date,
article .meta .time {
  color: #000;
  text-decoration: none;
}

article .meta .author a:hover,
article .meta .location a:hover {
  color: #bc1d0d;
  text-decoration: underline;
}

body.topic .meta .comments,
body.topic .meta .reply {
  display: none;
}

#reply {
  border-top: 2px dotted #808080;
  padding: 5px 0;
}

section {
  display: block;
}

#replies {
  margin-left: 20px;
}

#replies h2 {
  margin-left: -20px;
}

.button {
  float: left;
  margin-right: 5px;
}

.preview {
  padding: 0 20px;
  background: #f2f2f2;
  border: 2px dotted #ff8c71;
}

.meta {
  margin-top: 5px;
  line-height: 15px;
}

.meta a {
  white-space: nowrap;
}

.buttons {
  margin-top: 15px;
}

#first_comment {
  position: absolute;
  visibility: hidden;
}

#first_comment textarea.text {
  margin-bottom: 15px;
}

#utilities {
  margin-bottom: 1.5em;
  width: 620px;
}

#username {
  float: left;
  color: #808080;
}

#username a {
  color: #666;
}

#username a:hover {
  color: #bc1d0d;
}

body.loading #pagination .right {
  display: none;
}

a.handle {
  color: #000;
  text-decoration: none;
  border-bottom: 2px dotted #999;
}

a.handle:hover {
  color: #bc1d0d;
  border-bottom: 2px solid #bc1d0d;
}

#filter {
  margin-bottom: 50px;
}

#filter a {
  font-size: 18px;
  font-family: DroidSansRegular, helvetica, sans-serif;
  margin-left: 15px;
  text-decoration: none;
}

#filter a:hover {
  text-decoration: underline;
}

body.loading #filter {
  color: #999;
}

#pagination {
  color: #808080;
  margin-top: 2.5em;
  border-top: 2px solid #999;
  border-bottom: 0;
  padding-top: 0.5em;
}

body.archive li {
  list-style: none;
  margin: 0.5em 0 0.5em 0;
  padding: 0.5em 0 0.75em 0;
  border-bottom: 1px solid #dedede;
}

body.archive li a {
  font-size: 1.2em;
}

body.archive li .date {
  color: #808080;
  margin-left: 0.5em;
}

@media screen and (max-width: 1023px) {
  
  header {
    padding-top: 2em;
  }
  
  header .holder {
    width: 620px;
  }
  
  #username {
    left: auto;
    right: 0;
  }
  
  #sidebar {
    position: static;
    margin: 2em 0;
    width: auto;
  }
  
  h1 span {
    display: block;
    margin-left: 0;
    margin-top: 0.5em;
  }
  
  #events, #links {
    width: 280px;
  }
  
  #links h2 {
    margin-top: 0;
  }
  
  #sidebar #events {
    float: left;
  }
  
  #sidebar #links {
    float: right;
  }
  
  #sidebar br {
    clear: both;
  }
  
}

@media screen and (max-width: 664px) {
  
  body {
    font-size: 14px;
    line-height: 20px;
  }
  
  h1 a {
    background-position: 0 9px;
  }
  
  h1 a:hover {
    background-position: 0 -91px;
  }
  
  #page {
    padding-bottom: 2.5em;
  }
  
  #main {
    width: 100%;
  }
  
  #slides {
    width: 100%;
  }
  
  form input.text,
  form textarea.text {
    width: 93%;
  }
  
  header .holder {
    width: 100%;
  }
  
  #use-case {
    width: 100%;
    height: auto;
  }
  
  #utilities {
    width: 100%;
  }
  
  article .content {
    font-size: 1.2em;
  }
  
}

@media screen and (max-width: 639px) {
  
  #sidebar {
    margin: 2em 0;
  }
  
  #sidebar #events {
    float: none;
  }
  
  #sidebar #links {
    float: none;
  }
  
  #sidebar br {
    display: none;
  }
  
  h2 {
    margin-top: 1em;
  }
  
  #links h2 {
    margin-top: 1em;
  }
  
  #page {
    margin: 1em;
  }
  
  header {
    padding: 1em 1em 0 1em;
  }
  
  #utilities {
    margin-bottom: 1em;
  }
  
  nav {
    margin-top: 1em;
  }
  
}
