#!/usr/bin/lua

----------------------------
-- Begin of configuration --

-- Forum title
forum_title = 'occupy.here'

-- Forum description
forum_description = 'distributed wifi occupation'

-- Peer-to-peer location info
location_name = 'nyc'
location_latlng = '40.709328,-74.011245'

-- Warn user that off-site links will not work due to router being offline
forum_offline = true

-- If this CGI file is located in a different directory than the rest of the
-- forum, use forum_base to guide it back to the forum base directory. For
-- example if forum.cgi has been moved to /www/cgi-bin and all the other files
-- are in /www then set forum_base to '/www/'. Relative file system paths are
-- okay on some platforms, but OpenWRT expects an absolute path. You must
-- include a trailing slash.
forum_base = '/www/'

-- Set public_root to the path where the forum appears publicly, including a
-- trailing slash. If you're serving all your files right off the server root
-- you'll want to use '/'.
public_root = '/'

-- Set archive_root to indicate the base URL of the media archive files. Include
-- a trailing slash.
archive_root = 'http://192.168.1.1:8080/archive/'

-- End of configuration --
--------------------------

-- used for bootstrapping
package.path = package.path .. ";" .. forum_base .. "app/?.lua"

-- used after chdir to forum_base
package.path = package.path .. ";./app/?.lua"

local forum = require "forum"
forum.main()
